<div class="expands">
  <% path = "/overview/%{bracket}/%{region}" %>
  <%= render "layouts/bracket_selection", :path => path %>
  <%= render "layouts/region_selection", :path => path %>

  <h1>Overview for <%= @bracket_fullname %></h1>

	<%= render "overview_tables" %>
</div>
