<div class="inverse neg-top-margin">
  <h2>Talent Export String</h2>
  <h4 class="loadout"><%= @player.loadout %></h4>
  <a href="https://www.wowhead.com/talent-calc/blizzard/<%= @player.loadout %>" target="_blank">
    <button class="btn btn-default margin-bottom-0-5em wowhead-button" type="button">View Talents on Wowhead</button>
  </a>
</div>