<div>
  <h1><%= @description %></h1>

  <ul class="undecorated-list">
    <li>
      <a href="https://check-pvp.fr/" translate="no">Check-PvP</a>
    </li>
    <li>
      <a href="https://pvp.subcreation.net/" translate="no">Subcreation PvP</a>
    </li>
    <li>
      <a href="https://wowvalor.app/en/" translate="no">Wowvalor</a>
    </li>
    <li>
      <a href="https://drustvar.com/" translate="no">Drustvar</a>
    </li>
    <li>
      <a href="https://murlok.io/" translate="no">Murlok.io</a>
    </li>
    <li>
      <a href="https://pvptv.io/" translate="no">PvPtv.io</a>
    </li>
    <li>
      <a href="https://wowarenalogs.com/" translate="no">WoW Arena Logs</a>
    </li>
    <li>
      <a href="https://www.reddit.com/r/worldofpvp/" translate="no">/r/worldofpvp</a>
    </li>
  </ul>

  <div class="podcastdotco-wrapper">
    <iframe data-target="technically-pvp" src="https://play.pod.co/technically-pvp" frameborder="0" width="100%" scrolling="no" style="overflow:hidden;max-width:750px;height:500px;"class="podcastdotco-player podcastdotco-player--podcast"></iframe>
    <script src="https://play.pod.co/embed/frame-v1.js"></script>
  </div>

</div>
