<div class="expands center">
  <h2>Filter leaderboard players matching below critera</h2>
  <h4>Leaderboard required, all other fields optional</h4>
  <%= render "layouts/filter_form", form_id: "leaderboard-filter-form", include_cr: false, required: "Leaderboard" %>
</div>