<div class="expands center">
  <h2>Filter leaderboard players matching below criteria</h2>
  <h4>Leaderboard and region required, all other fields optional</h4>
  <%= render "layouts/filter_form", form_id: "leaderboard-filter-form", class_filter: false, required: "Leaderboard and region" %>
</div>