<h1><%= @heading %></h1>
<%= render "layouts/class_selection", :selected_slug => @class_slug, :base_path => "/glyphs" %>
<%= render "layouts/spec_selection", :selected_class_slug => @class_slug, :selected_spec_slug => @spec_slug, :base_path => "/glyphs" %>