html, body {
	color: #E4A703;
	background-color: #1A0F08;
	font-family: Caudex, sans-serif;
	font-size: 1em;
	text-align: center;
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.inline-block {
	display: inline-block;
}

a {
	color: #DAF092;
}

a:hover {
	color: #68B5D1;
}

.btn-default {
	color: #E4A703;
	background-color: #1A0F08;
	border-color: #E4A703;
}

.btn.focus,
.btn:focus,
.btn:hover {
	color: inherit;
	background-color: #302620;
	border-color: inherit;
	text-decoration: none;
}

.table {
	background-color: #302620;
	margin-top: 1em;
	width: auto;
	font-size: 1.45em;
}

.table img {
	width: 1.65em;
}

th {
	background-color: #1A0F08;
	text-align: center;
}

.table>tbody>tr>td {
	vertical-align: middle;
}

.table-bordered,
.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>td {
	border-color: #E4A703;
	padding: 0.65em;
}

.table-hover>tbody>tr:hover {
	background-color: #1A0F08;
}

.table-sorted th:hover {
	color: #E4A703;
	background-color: #302620;
	cursor: pointer;
}

th:focus {
	outline: none;
}

.btn-group-lg>.btn.small-padding {
	padding: 0.25em;
}

.btn-group img {
	width: 7vw;
	max-width: 4em;
	min-width: 1.4em;
}

.btn-group img:hover {
	-webkit-filter: brightness(65%);
}

.navbar,
.navbar-default {
	border-radius: 0;
	color: #E4A703;
	background-color: #302620;
	border-color: #302620;
	border-bottom-color: #E4A703;
}

.navbar a,
.navbar-default .navbar-nav>li>a {
	color: #E4A703;
}

th.tablesorter-headerDesc,
th.tablesorter-headerAsc,
.btn-default.active,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus {
	color: #1A0F08;
	background-color: #E4A703;
	border-color: inherit;
}

.nav>li>a:hover,
.navbar-default .navbar-nav>li>a:hover {
	color: #E4A703;
	background-color: #1A0F08;
	border-color: inherit;
}

th.tablesorter-headerDesc:hover,
th.tablesorter-headerAsc:hover,
.btn-default.active:hover,
.navbar-default .navbar-nav>.active>a:hover {
	color: #1A0F08;
	background-color: #ECC14E;
}

.jumbotron {
	background-color: inherit;
}

#footer {
	margin-top: 5em;
}

#footer ul {
	padding-left: 10%;
	padding-right: 10%;
}

#footer li {
  list-style-type: none;
  margin-bottom: 0.5em;
}