html, body {
  color: #E4A703;
  font-family: Caudex, sans-serif;
  font-size: 1em;
  text-align: center;
  background-color: #1A0F08;
  background: #1A0F08;
  background: -moz-linear-gradient(top, #170D07 0%, #1A0F08 25%, #1A0F08 75%, #170D07 100%);
  background: -webkit-linear-gradient(top, #170D07 0%, #1A0F08 25%, #1A0F08 75%, #170D07 100%);
  background: -ms-linear-gradient(top, #170D07 0%, #1A0F08 25%, #1A0F08 75%, #170D07 100%);
  background: linear-gradient(to bottom, #170D07 0%, #1A0F08 25%, #1A0F08 75%, #170D07 100%);
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

h1 {
  margin-bottom: 0.5em;
}

a {
  color: #F6E4B3;
}

a:hover {
  color: #C9813F;
}

a:focus {
  color: #F6E4B3;
  text-decoration: underline;
}

.no-a-style,
.no-a-style:focus,
.no-a-style:hover {
  color: inherit;
  text-decoration: none;
  cursor: default;
}

.force-wrap {
  word-break: break-word;
}

.margin-top-1em,
.filter-row {
  margin-top: 1em;
}

.margin-bottom-1em {
  margin-bottom: 1em;
}

.margin-bottom-0-25em {
  margin-bottom: 0.25em;
}

.margin-left-1em {
  margin-left: 1em;
}

.margin-top-2em {
  margin-top: 2em;
}

.margin-top-0-25em {
  margin-top: 0.25em;
}

.margin-top-0-5em {
  margin-top: 0.5em;
}

.margin-0-25em {
  margin: 0.25em;
}

.margin-0-5em {
  margin: 0.5em;
}

.margin-none {
  margin-top: 0;
  margin-bottom: 0;
}

.expands {
  min-height: calc(100vh - 235px);
}

.text-muted {
  color: inherit;
  font-size: 0.75em;
  opacity: 0.5;
}

.modal-content {
  background-color: #E4A703;
  color: #1A0F08;
}

.input-group-btn {
  width: auto;
}

.dropdown-menu,
.dropdown-menu>li>a,
.navbar-nav .open .dropdown-menu,
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #1A0F08;
  background-color: #E4A703;
}

.dropdown-menu li {
  padding-left: 0em;
  font-size: 1.4em;
  cursor: pointer;
}

.input-group-btn .dropdown-menu li {
  padding-left: 1em;
}

.dropdown-right li {
  text-align: right;
  padding-right: 1.4em;
  padding-left: 1em;
}

.dropdown-menu .divider,
.dropdown-menu .divider:hover {
  background-color: #1A0F08;
}

.dropdown-text {
  margin-right: 1em;
}

.dropdown-toggle {
  min-width: 7em;
}

.btn .caret {
  float: right;
  position: relative;
  top: 0.6em;
  right: 0em;
  margin-left: 0.75em;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
th:focus {
  outline: none;
}

.btn-group>.btn,
.btn-default,
.btn-primary,
.btn-danger {
  color: #E4A703;
  background-color: #1A0F08;
  border-color: #E4A703;
}

.btn-primary {
  background-color: #144126;
}

.btn-primary[disabled] {
  background-color: #1A0F08;
  border-color: #E4A703;
}

.btn-danger {
  background-color: #56201F;
}

.btn.focus,
.btn:focus,
.btn:hover {
  color: inherit;
  background-color: #302620;
  text-decoration: none;
}

.btn.btn-primary.focus,
.btn.btn-primary:focus,
.btn.btn-primary:hover,
.btn.btn-danger.focus,
.btn.btn-danger:focus,
.btn.btn-danger:hover {
  color: #F6E4B3;
  border-color: #F6E4B3;
}

.btn.btn-primary.focus,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
  background-color: #203026;
  background: #203026;
}

.btn.btn-danger.focus,
.btn.btn-danger:focus,
.btn.btn-danger:hover {
  background-color: #613130;
  background: #613130;
}

.btn-default[disabled],
.btn-default[disabled].active,
.btn-default[disabled].focus,
.btn-default[disabled]:active,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover {
  background-color: inherit;
  border-color: inherit;
}

.btn-group>.btn:hover {
  color: #E4A703;
  background-color: #302620;
  background: #302620;
}

.btn-submit {
  margin-left: 2em;
  width: 10em;
}

.filter-form .btn-group-label {
  margin-right: 1em;
  font-size: 1.35em;
  vertical-align: bottom;
  display: table-cell;
}

.filter-form .btn-group-filter>.btn {
  padding: 0.5vw calc(0.75em + 0.1vw);
  font-size: 1em;
  font-size: calc(1em + 0.1vw);
}

.btn-group-lg>.btn.image-holder {
  padding: 0.2em;
}

.filter-form {
  width: calc(100% - 50vw);
  min-width: 20em;
}

.results-panel {
  width: calc(100% - 40vw);
  min-width: 22em;
}

.audit-results-panel {
  width: calc(100% - 54vw);
  min-width: 22em;
}

.results-note {
  width: 60%;
  min-width: 12em;
}

.middle {
  max-width: 600px;
}

.filter-row {
  text-align: left;
}

.filter-row ul {
  height: auto;
  max-height: 20vh;
  min-height: 125px;
  overflow-x: hidden;
}

#realm-select {
  width: 40%;
  min-width: 150px;
}

#realm-select button {
  width: 100%;
}

.table {
  background-color: #302620;
  width: auto;
  font-size: 1.1em;
}

@media screen and (max-width: 840px) {
  .table {
    font-size: calc(1vw + 8px);
  }
}

.table-small-font {
  font-size: calc(1vw + 4px);
}

td {
  background: -moz-linear-gradient(left, #261E19 0%, #302620 25%, #302620 75%, #261E19 100%);
  background: -webkit-linear-gradient(left, #261E19 0%, #302620 25%, #302620 75%, #261E19 100%);
  background: -ms-linear-gradient(left, #261E19 0%, #302620 25%, #302620 75%, #261E19 100%);
  background: linear-gradient(to right, #261E19 0%, #302620 25%, #302620 75%, #261E19 100%);
}

.table img {
  width: 1.65em;
}

th {
  text-align: center;
  background-color: #1A0F08;
  background: #1A0F08;
  background: -moz-linear-gradient(top, #2E1A0E 0%, #1A0F08 20%, #1A0F08 80%, #2E1A0E 100%);
  background: -webkit-linear-gradient(top, #2E1A0E 0%, #1A0F08 20%, #1A0F08 80%, #2E1A0E 100%);
  background: -ms-linear-gradient(top, #2E1A0E 0%, #1A0F08 20%, #1A0F08 80%, #2E1A0E 100%);
  background: linear-gradient(to bottom, #2E1A0E 0%, #1A0F08 20%, #1A0F08 80%, #2E1A0E 100%);
}

.table>tbody>tr>td {
  vertical-align: middle;
  cursor: default;
}

.table-bordered,
.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>td {
  border-color: #E4A703;
  padding: 0.35em;
}

.table-hover tr:hover td,
.table-hover>tbody>tr:hover {
  background-color: #1A0F08;
  background: #1A0F08;
}

.table-sorted th:hover {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  th.hide-when-narrow,
  td.hide-when-narrow {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  th.show-when-wide,
  td.show-when-wide {
    display: none;
  }
}

@media screen and (max-width: 1240px) {
  th.show-when-extra-wide,
  td.show-when-extra-wide {
    display: none;
  }
}

#talent-build img {
  width: 5vw;
  max-width: 2.5em;
  min-width: 1.5em;
}

#talent-build {
  margin-top: 0;
}

.results-panel table,
.audit-results-panel table {
  width: 100%;
}

.most-selected {
  color: #1A0F08;
  background-color: #E4A703;
  background: #E4A703;
  background: -moz-linear-gradient(left, #B68502 0%, #E4A703 25%, #E4A703 75%, #B68502 100%);
  background: -webkit-linear-gradient(left, #B68502 0%, #E4A703 25%, #E4A703 75%, #B68502 100%);
  background: -ms-linear-gradient(left, #B68502 0%, #E4A703 25%, #E4A703 75%, #B68502 100%);
  background: linear-gradient(to right, #B68502 0%, #E4A703 25%, #E4A703 75%, #B68502 100%);
}

.btn-group-lg>.btn.small-padding {
  padding: 0.2em;
}

.btn-group img {
  width: 5vw;
  max-width: 3.5em;
  min-width: 32px;
  font-size: 0.6em;
  filter: brightness(0.95);
}

.btn-group img:hover {
  filter: brightness(1.8);
}

.btn-group a.active img,
.btn-group label.active img,
.filter-form .btn-group .btn.active img {
  filter: sepia(1);
}

.btn-group a.active img:hover,
.btn-group label.active img:hover,
.filter-form .btn-group .btn.active img:hover {
  filter: sepia(0.6);
}

.jumbotron .class-selector-group,
#results-class-selector .class-selector-group {
  margin-left: 1em;
  margin-right: 1em;
}

.social-img {
  width: 36px;
  margin: 0.25em;
}

.social-img:hover {
  filter: hue-rotate(336deg) brightness(90%) invert(14%);
}

.navbar,
.navbar-default {
  border-radius: 0;
  color: #E4A703;
  background-color: #302620;
  border-color: #302620;
  border-bottom-color: #E4A703;
  margin-bottom: 10px;
}

.navbar a,
.navbar-default .navbar-nav>li>a {
  color: #E4A703;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: inherit;
}

.navbar-nav {
  margin: 0;
}

th.tablesorter-primary,
.btn.active,
.btn-default.active,
.btn-group>.btn.active:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus {
  color: #1A0F08;
  background-color: #E4A703;
  background: #E4A703;
}

.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.btn-group>.btn.active:hover {
  background-color: #F6E4B3;
  background: #F6E4B3;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,
.dropdown-menu li:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  background-color: #FBDC86;
  background: #FBDC86;
}

.navbar-default .navbar-nav>.open>a,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover {
  color: inherit;
  text-decoration: none;
  background-color: #F6E4B3;
  outline: 0;
}

.nav>li>a:hover,
.navbar-default .navbar-nav>li>a:hover {
  border-color: #F6E4B3;
  border-bottom-color: rgba(0, 0, 0, 0);
}

th.tablesorter-headerDesc:hover,
th.tablesorter-headerAsc:hover,
.table-sorted th:hover,
.btn:hover,
.btn-default.active:hover,
.nav>li>a:hover,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a:hover,
.open>.dropdown-toggle.btn-default {
  color: #1A0F08;
  background-color: #ECC14E;
  background: #ECC14E;
  background: -moz-linear-gradient(top, #D4AD46 0%, #ECC14E 20%, #ECC14E 80%, #D4AD46 100%);
  background: -webkit-linear-gradient(top, #D4AD46 0%, #ECC14E 20%, #ECC14E 80%, #D4AD46 100%);
  background: -ms-linear-gradient(top, #D4AD46 0%, #ECC14E 20%, #ECC14E 80%, #D4AD46 100%);
  background: linear-gradient(to bottom, #D4AD46 0%, #ECC14E 20%, #ECC14E 80%, #D4AD46 100%);
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  color: #1A0F08;
  cursor: pointer;
  background-color: #E4A703;
  border: 1px solid #E9B835;
  border-bottom-color: rgba(0, 0, 0, 0);
}

.nav>li>a:focus {
  text-decoration: none;
  background-color: #ECC14E;
  color: #1A0F08;
}

.nav-tabs {
  border-bottom: 1px solid #E4A703;
}

.jumbotron {
  background-color: inherit;
}

#footer {
  margin-top: 5em;
}

#footer ul {
  padding-left: 10%;
  padding-right: 10%;
}

#footer li {
  list-style-type: none;
  margin-bottom: 0.5em;
}

.wins {
  color: #40E403;
}

.losses {
  color: #E43603;
}

.use-40 {
  margin-left: 30%;
  margin-right: 30%;
}

.audit-group {
  display: inline-block;
  margin-right: 1em;
}

.audit-group label {
  display: block;
}

.slightly-smaller-font-size {
  font-size: 0.95em;
}

.slightly-larger-font-size {
  font-size: 1.25em;
}

#btn-active-since {
  margin-left: 0.75em;
  margin-right: 0.5em;
  margin-top: -1em;
  min-width: 1em;
}

/* PACE */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #e4a703;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 8px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #e4a703, 0 0 5px #e4a703;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 20px;
  right: 20px;
  width: 15px;
  height: 15px;
  border: solid 3px transparent;
  border-top-color: #e4a703;
  border-left-color: #e4a703;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}