html, body {
	color: #E4A703;
	font-family: Caudex, sans-serif;
	font-size: 1em;
	text-align: center;
	background-color: #1A0F08;
	background: #1A0F08;
	background: -moz-linear-gradient(top, #170D07 0%, #1A0F08 25%, #1A0F08 75%, #170D07 100%);
	background: -webkit-linear-gradient(top, #170D07 0%, #1A0F08 25%, #1A0F08 75%, #170D07 100%);
	background: -ms-linear-gradient(top, #170D07 0%, #1A0F08 25%, #1A0F08 75%, #170D07 100%);
	background: linear-gradient(to bottom, #170D07 0%, #1A0F08 25%, #1A0F08 75%, #170D07 100%);
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.inline-block {
	display: inline-block;
}

h1 {
	margin-bottom: 0.5em;
}

a {
	color: #F6E4B3;
}

a:hover {
	color: #B4C8B9;
}

.margin-top-1em {
	margin-top: 1em;
}

.margin-top-2em {
	margin-top: 2em;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
th:focus {
	outline: none;
}

.btn-group>.btn,
.btn-default,
.btn-primary,
.btn-danger {
	color: #E4A703;
	background-color: #1A0F08;
	border-color: #E4A703;
}

.btn-primary {
	background-color: #144126;
}

.btn-danger {
	background-color: #56201F;
}

.btn.focus,
.btn:focus,
.btn:hover {
	color: inherit;
	background-color: #302620;
	border-color: inherit;
	text-decoration: none;
}

.btn.btn-primary.focus,
.btn.btn-primary:focus,
.btn.btn-primary:hover,
.btn.btn-danger.focus,
.btn.btn-danger:focus,
.btn.btn-danger:hover {
	color: #F6E4B3;
	border-color: #F6E4B3;
}

.btn.btn-primary.focus,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
	background-color: #203026;
	background: #203026;
}

.btn.btn-danger.focus,
.btn.btn-danger:focus,
.btn.btn-danger:hover {
	background-color: #613130;
	background: #613130;
}

.btn-group>.btn:hover {
	color: #E4A703;
	background-color: #302620;
	background: #302620;
}

.btn-submit {
	margin-left: 2em;
	width: 10em;
}

.filter-form .btn-group-label {
	margin-right: 1em;
	font-size: 1.5em;
	vertical-align: bottom;
}

.filter-form .image-holder {
	padding: 0.2em;
}

.filter-form .btn-group img {
	width: 6vw;
	max-width: 2.1em;
	min-width: 1.3em;
	-webkit-filter: brightness(0.95);
	filter: brightness(0.95);
}

.table {
	background-color: #302620;
	margin-top: 1em;
	width: auto;
	font-size: 1.45em;
	font-size: calc(1vw + 0.7em);
}

td {
	background: -moz-linear-gradient(left, #261E19 0%, #302620 25%, #302620 75%, #261E19 100%);
	background: -webkit-linear-gradient(left, #261E19 0%, #302620 25%, #302620 75%, #261E19 100%);
	background: -ms-linear-gradient(left, #261E19 0%, #302620 25%, #302620 75%, #261E19 100%);
	background: linear-gradient(to right, #261E19 0%, #302620 25%, #302620 75%, #261E19 100%);
}

.table img {
	width: 1.65em;
}

th {
	text-align: center;
	background-color: #1A0F08;
	background: #1A0F08;
	background: -moz-linear-gradient(top, #2E1A0E 0%, #1A0F08 20%, #1A0F08 80%, #2E1A0E 100%);
	background: -webkit-linear-gradient(top, #2E1A0E 0%, #1A0F08 20%, #1A0F08 80%, #2E1A0E 100%);
	background: -ms-linear-gradient(top, #2E1A0E 0%, #1A0F08 20%, #1A0F08 80%, #2E1A0E 100%);
	background: linear-gradient(to bottom, #2E1A0E 0%, #1A0F08 20%, #1A0F08 80%, #2E1A0E 100%);
}

.table>tbody>tr>td {
	vertical-align: middle;
}

.table-bordered,
.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>td {
	border-color: #E4A703;
	padding: 0.65em;
}

.table-hover tr:hover td,
.table-hover>tbody>tr:hover {
	background-color: #1A0F08;
	background: #1A0F08;
}

.table-sorted th:hover {
	cursor: pointer;
}

#talent-build img {
	width: 5vw;
  max-width: 3em;
  min-width: 1.5em;
}

.most-selected {
	color: #1A0F08;
	background-color: #E4A703;
	background: #E4A703;
	background: -moz-linear-gradient(left, #B68502 0%, #E4A703 25%, #E4A703 75%, #B68502 100%);
	background: -webkit-linear-gradient(left, #B68502 0%, #E4A703 25%, #E4A703 75%, #B68502 100%);
	background: -ms-linear-gradient(left, #B68502 0%, #E4A703 25%, #E4A703 75%, #B68502 100%);
	background: linear-gradient(to right, #B68502 0%, #E4A703 25%, #E4A703 75%, #B68502 100%);
}

.btn-group-lg>.btn.small-padding {
	padding: 0.25em;
}

.btn-group img {
	width: 6vw;
	max-width: 4em;
	min-width: 1.3em;
	-webkit-filter: brightness(0.95);
	filter: brightness(0.95);
}

.btn-group img:hover {
	-webkit-filter: brightness(1.8);
	filter: brightness(1.8);
}

.btn-group a.active img,
.filter-form .btn-group .btn.active img {
	-webkit-filter: sepia(1);
	filter: sepia(1);
}

.btn-group a.active img:hover,
.filter-form .btn-group .btn.active img:hover {
	-webkit-filter: sepia(0.6);
	filter: sepia(0.6);
}

.navbar,
.navbar-default {
	border-radius: 0;
	color: #E4A703;
	background-color: #302620;
	border-color: #302620;
	border-bottom-color: #E4A703;
}

.navbar a,
.navbar-default .navbar-nav>li>a {
	color: #E4A703;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: inherit;
}

th.tablesorter-headerDesc,
th.tablesorter-headerAsc,
.btn.active,
.btn-default.active,
.btn-group>.btn.active:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus {
	color: #1A0F08;
	background-color: #E4A703;
	background: #E4A703;
	border-color: inherit;
}

.btn-group>.btn.active:hover {
	background-color: #F6E4B3;
	background: #F6E4B3;
}

.nav>li>a:hover,
.navbar-default .navbar-nav>li>a:hover {
	border-color: inherit;
}

th.tablesorter-headerDesc:hover,
th.tablesorter-headerAsc:hover,
.table-sorted th:hover,
.btn:hover,
.btn-default.active:hover,
.nav>li>a:hover,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a:hover {
	color: #1A0F08;
	background-color: #ECC14E;
	background: #ECC14E;
	background: -moz-linear-gradient(top, #D4AD46 0%, #ECC14E 20%, #ECC14E 80%, #D4AD46 100%);
	background: -webkit-linear-gradient(top, #D4AD46 0%, #ECC14E 20%, #ECC14E 80%, #D4AD46 100%);
	background: -ms-linear-gradient(top, #D4AD46 0%, #ECC14E 20%, #ECC14E 80%, #D4AD46 100%);
	background: linear-gradient(to bottom, #D4AD46 0%, #ECC14E 20%, #ECC14E 80%, #D4AD46 100%);
}

.jumbotron {
	background-color: inherit;
}

#footer {
	margin-top: 5em;
}

#footer ul {
	padding-left: 10%;
	padding-right: 10%;
}

#footer li {
  list-style-type: none;
  margin-bottom: 0.5em;
}

/* PACE */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #e4a703;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 8px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #e4a703, 0 0 5px #e4a703;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 20px;
  right: 20px;
  width: 15px;
  height: 15px;
  border: solid 3px transparent;
  border-top-color: #e4a703;
  border-left-color: #e4a703;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}