<div class="jumbotron center-text">
	<h1>PvP Leaderboard</h1>
	<h3 class="middle center">See which talents, glyphs, and stats top WoW PvPers are selecting. Data updates daily based on players on any Americas region PvP leaderboard.</h3>
</div>
