<div class="jumbotron center-text">
	<h1>PvP Leaderboard</h1>
	<h3 class="middle center">View and filter PvP leaderboards or see which talents top WoW PvPers are selecting.</h3>
  <h4>Updates daily based on the U.S. and E.U. 2v2, 3v3, and Rated Battleground leaderboards.</h4>
  <div class="margin-top-2em">
    <h4>Select a class and spec to view talents:</h4>
    <div>
      <%= render "layouts/class_selection" %>
    </div>
    <div class="margin-top-1em">
      <%= render "layouts/spec_selection", :use_anchors => true %>
    </div>
    <h4 class="margin-top-1em">Or select a ladder to view:</h4>
    <%= render "layouts/leaderboard_selection" %>
  </div>
</div>
