<form id="filter-form" class="filter-form center">
  <%= render "basic_filter" %>
  <button id="toggle-advanced-filters" class="btn btn-default btn-collapse margin-top-2em" type="button" data-toggle="collapse" data-text="Advanced Filters" data-target="#advanced-filters" aria-expanded="false" aria-controls="collapse-advanced-filters">Show Advanced Filters</button>

  <div id="advanced-filters" class="collapse" data-toggler="toggle-advanced-filters">
    <%= render "adv_filter" %>
  </div>

  <div class="margin-top-2em">
    <input class="btn btn-danger btn-lg form-resetter" type="button" value="Reset" data-target="filter-form">
    <% disabled = (@selected[:class] && @selected[:spec]) ? "" : "disabled=\"disabled\"" %>
    <input class="btn btn-primary btn-lg btn-submit" type="submit" value="Filter" <%= disabled %>>
  </div>

  <div id="error-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <h1>Class and spec required to filter!</h1>
      </div>
    </div>
  </div>
</form>