<div class="expands center">
  <button id="toggle-filters" class="btn btn-default btn-collapse margin-top-1em" type="button" data-toggle="collapse" data-text="Filters" data-target="#filters" aria-expanded="false" aria-controls="collapse-filters">Show Filters</button>

  <div id="filters" class="collapse" data-toggler="toggle-filters">
    <%= render "layouts/filter_form", form_id: "filter-form", class_filter: true, required: "Class and spec" %>
  </div>

  <% if @total == 0 %>
    <h1>No players matched selected criteria</h1>
  <% else %>
    <h1><%= @total %> player<%= "s" if @total != 1 %> matching criteria</h1>
    <%= render "layouts/results" %>
  <% end %>
</div>
