<table id="covenants-table" class="table table-bordered table-condensed table-responsive table-hover table-sorted center" data-sortlist="[[1,1]]">
  <thead>
    <tr>
      <th>Covenant</th>
      <th title="Percent that have selected this covenant">&percnt;</th>
    </tr>
  </thead>
  <tbody>
    <% @covenant_counts.each do |covenant, count| %>
      <tr>
        <td>
          <img src="/images/icons/<%= covenant.icon %>.png" class="img-responsive center" alt="<%= covenant.name %>">
          <div><%= covenant.name %></div>
        </td>
        <td><%= get_percent count %></td>
      </tr>
    <% end %>
  </tbody>
</table>