<div class="middle inline-block center-text margin-0-25em margin-top-1em">
Each leaderboard is limited to the top 5000 players as that is the maximum depth
returned by <a href="https://develop.battle.net/documentation/world-of-warcraft/game-data-apis">Blizzard's API</a> for each bracket's leaderboard - including for Solo Shuffle (where each specialization has their own leaderboard).
</div>
