<div id="footer" class="center-text">
	<ul>
    <li>Created by <a href="https://twitter.com/frostmatthew">@frostmatthew</a></li>
    <li>World of Warcraft, Warcraft, and Blizzard Entertainment are trademarks or registered trademarks of <a href="http://us.blizzard.com/en-us/company/about/copyrightnotices.html">Blizzard Entertainment, Inc.</a> All rights reserved. This site is not affiliated with Blizzard.</li>
  </ul>
</div>