<div id="footer" class="center-text">
	<ul>
    <li>
      <a href="https://twitter.com/pvpleaderboard" target="_blank"><img src="/images/twitter.png" class="social-img" alt="Twitter"/></a>
      <a href="https://www.facebook.com/pvpleaderboard" target="_blank"><img src="/images/facebook.png" class="social-img" alt="Facebook"/></a>
    </li>
    <li>Created by <a href="https://twitter.com/frostmatthew">@frostmatthew</a></li>
    <li>World of Warcraft, Warcraft, and Blizzard Entertainment are trademarks or registered trademarks of <a href="https://www.blizzard.com/en-us/legal/">Blizzard Entertainment, Inc.</a></li>
  	<li>This site is not affiliated with Blizzard.</li>
  </ul>
</div>
