<div id="footer" class="center-text">
	<ul>
    <li>Created by <a href="https://www.threads.net/@frostmatthew">@frostmatthew</a></li>
    <li>World of Warcraft, Warcraft, and Blizzard Entertainment are trademarks or registered trademarks of <a href="https://www.blizzard.com/en-us/legal/">Blizzard Entertainment, Inc.</a></li>
  	<li>This site is not affiliated with Blizzard.</li>
  </ul>
</div>
