<table id="gear-table" class="table table-bordered table-condensed table-responsive table-hover table-sorted center">
  <thead>
    <tr>
      <th>Slot</th>
      <th>Most Equipped Item</th>
    </tr>
  </thead>
  <tbody>
    <% gear.each do |s, h| %>
      <tr>
        <td><%= s.titleize %></td>
        <td>
          <a href="https://www.wowhead.com/item=<%= h[:id] %>" rel="item=<%= h[:id] %>&amp;lvl=100" target="_blank" class="no-a-style"><%= h[:name] %></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>