<table id="honor-talent-build" class="table table-bordered table-condensed table-responsive center">
  <h1>Coming Soon</h1>
  <div>Honor Talents will be added after they're available via <a href="https://dev.battle.net/io-docs">Blizzard's API</a></div>
</table>
