<table id="honor-talent-build" class="table table-bordered table-condensed table-responsive center">
  <h1>Coming Soon</h1>
  <h4>Honor Talents will be available once Legion Season One has started</h4>
</table>