<div id="sorting" class="hidden"><h1>Sorting...</h1></div>
<table id="leaderboard-table" class="table table-bordered table-condensed table-responsive table-hover table-sorted center" data-sortlist="[[0,0]]" data-bracket="<%= @bracket %>" data-last="<%= @last %>">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Rating</th>
      <th>Name</th>
      <th class="show-when-wide">Realm</th>
      <th>Faction</th>
      <th>Race</th>
      <th>Class</th>
      <th>Spec</th>
      <th class="show-when-extra-wide">Guild</th>
      <th class="hide-when-narrow" title="Season Wins - Losses">W - L</th>
      <th class="hide-when-narrow">Win %</th>
    </tr>
  </thead>
  <tbody>
    <%= render "layouts/leaderboard_table_body" %>
  </tbody>
</table>
<% if @last > 0 %>
<h2 id="loading">Loading...</h2>
<% end %>
<%= render "layouts/last_updated" %>