<table id="legendaries-table" class="table table-bordered table-condensed table-responsive table-hover table-sorted center" data-sortlist="[[1,1]]">
  <thead>
    <tr>
      <th>Legendary</th>
      <th title="Percent that have this legendary equipped">&percnt;</th>
    </tr>
  </thead>
  <tbody>
    <% @legendary_counts.each do |legendary, count| %>
      <tr>
        <td>
          <a href="https://www.wowhead.com/spell=<%= legendary.id %>" rel="spell=<%=legendary.id %>&amp;lvl=60" target="_blank" class="no-a-style">
            <%= legendary.name %>
          </a>
        </td>
        <td><%= get_percent count %></td>
      </tr>
    <% end %>
  </tbody>
</table>