<nav class="navbar navbar-default">
	<ul class="nav navbar-nav">
		<li class="<%= is_active "/" %>"><a href="/">Home</a></li>
    <% entries = ["overview", "talents", "glyphs", "stats", "filter"] %>
    <% entries.each do |entry| %>
      <li class="<%= is_active "/#{entry}" %>"><a href="/<%= entry %>"><%= entry.titleize %></a></li>
    <% end %>
	</ul>
</nav>