<nav class="navbar navbar-default">
	<ul class="nav navbar-nav">
		<li class="<%= is_active "/" %>"><a href="/">Home</a></li>
		<li class="<%= is_active "/overview" %>"><a href="/overview">Overview</a></li>
		<li class="<%= is_active "/talents" %>"><a href="/talents">Talents</a></li>
		<li class="<%= is_active "/glyphs" %>"><a href="/glyphs">Glyphs</a></li>
	</ul>
</nav>