<p></p>
<div class="btn-group btn-group-lg margin-0-5em" role="group" aria-label="Brackets">
  <% ["Top 5000", "2400+ CR", "2700+ CR", "3000+ CR"].each do |rating| %>
    <% is_all = rating == "Top 5000" %>
    <% r = is_all ? nil : rating[0..3] %>
    <% tooltip = is_all ? 'Top 5000 players of each selected bracket/region' : 'Players on the selected bracket(s)/region(s) with a current rating higher than ' + r %>
    <% active = ((is_all && @min_rating == 0) || (!@min_rating.nil? && rating.start_with?(@min_rating.to_s))) ? "active" : "" %>
    <a href="<%= (path % {:bracket => @bracket.nil? ? 'all' : @bracket, :region => @region.nil? ? 'all' : @region, :rating => r}).downcase %>" type="button" class="btn btn-default include-fragment <%= active %>" title="<%= tooltip %>" role="button"><%= rating %></a>
  <% end %>
</div>