<div class="results-panel center" role="tabpanel">

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#tab-pane-talents" aria-controls="talents" role="tab" data-toggle="tab" data-fragment="talents">Talents</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab-pane-talents">
      <%= render "layouts/talents_table", :talents => talent_counts_table(@class_id) %>
    </div>
  </div>

  <%= render "layouts/last_updated" %>
</div>