<table id="stats-table" class="table table-bordered table-condensed table-responsive table-hover table-sorted center" data-sortlist="[[2,1]]">
  <thead>
    <tr>
      <th>Stat</th>
      <th>Min</th>
      <th>Average</th>
      <th>Max</th>
    </tr>
  </thead>
  <tbody>
    <% counts.each do |s, h| %>
      <tr>
        <td><%= s.gsub(/[_]/, " ").titleize %></td>
        <td><%= h[:min] %></td>
        <td><%= h[:avg] %></td>
        <td><%= h[:max] %></td>
      </tr>
    <% end %>
  </tbody>
</table>